.red {
  color: #fe4c61;
}
.orange {
  color: #f39c11;
}
.yellow {
  color: #dca700;
}
.green {
  color: #52c41a;
}
.cyan {
  color: #13a8a8;
}
.blue {
  color: #3498db;
}
.purple {
  color: #9d3dcf;
}
.black {
  color: #0e1d69;
}
:global(body[data-theme="far"]) {
  .yellow {
    color: #ffc116;
  }
  .cyan {
    color: #36cfc9;
  }
  .purple {
    color: #c379ef;
  }
  .black {
    color: #c7cce1;
  }
}
